@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Hanken+Grotesk:wght@500;700;800&display=swap');

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Hanken Grotesk', sans-serif;
}

:root {
	/** =================== Colors =================== */
	/* Background */
	--final-result-bg-color: linear-gradient(rgb(120, 87, 255), rgb(46, 43, 233));
	--score-bg-color: linear-gradient(rgba(78, 33, 202, 1), rgba(36, 33, 202, 0));
	--red-row-bg-color: rgba(255, 87, 87, 0.1);
	--yellow-row-bg-color: rgba(255, 176, 31, 0.1);
	--green-row-bg-color: rgba(0, 189, 145, 0.1);
	--blue-row-bg-color: rgba(17, 37, 212, 0.1);
	--button-bg-color: #303b5a;
	--button-bg-color--hover: linear-gradient(rgb(120, 87, 255), rgb(46, 43, 233));

	/* Font */
	--final-result-title-font-color: #c8c7ff;
	--score-result-font-color: #fff;
	--score-total-font-color: rgb(120, 87, 255);
	--output-font-color: #fff;
	--description-font-color: #c8c7ff;
	--summary-report-title-font-color: #303b5a;
	--red-row-font-color: rgb(255, 87, 87);
	--yellow-row-font-color: rgb(255, 176, 31);
	--green-row-font-color: rgb(0, 189, 145);
	--blue-row-font-color: rgb(17, 37, 212);
	--content-score-font-color: #303b5a;
	--content-total-score-font-color: rgba(48, 59, 90, 0.4);
	--button-font-color: #ebf1ff;

	/* Shadow */
	--summary-component-shadow-color: #EBF1FF;

	/* Icon URL (default) */
	--icon-url: ;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 700px;
	padding: 40px 30px;
}

/** =================== summary component =================== */
.summary-component {
	display: flex;
	max-height: 650px;
	max-width: 900px;
	border-radius: 25px;
	box-shadow: 10px 10px 40px 10px var(--summary-component-shadow-color);
}

.final-result,
.summary-report {
	flex: 0 1 50%;
	padding: 40px;
}

.final-result {
	text-align: center;
	background: var(--final-result-bg-color);
	border-radius: 25px;
}

.title {
	margin-bottom: 35px;
	font-size: 2.8rem;
}

.final-result__title {
	font-weight: 400;
	color: var(--final-result-title-font-color);
}

.score {
	padding: 55px;
	border-radius: 50%;
	width: 260px;
	margin: 0 auto;
	background: var(--score-bg-color);
}

.score__result {
	font-size: 8.5rem;
	font-weight: 700;
	color: var(--score-result-font-color);
}

.score__total {
	font-size: 2.4rem;
	color: var(--score-total-font-color);
}

.output {
	font-size: 4rem;
	font-weight: 500;
	margin: 40px 0 20px 0;
	color: var(--output-font-color);
}

.description {
	font-size: 2.4rem;
	color: var(--description-font-color);
}

/** =================== summary report =================== */
.summary-report__title {
	color: var(--summary-report-title-font-color);
}

.content {
	margin-bottom: 50px;
}

.content__row {
	display: flex;
	height: 65px;
	margin-bottom: 20px;
	align-items: center;
	padding: 0 15px;
	border-radius: 10px;
	font-size: 2.5rem;
}

.content__row::before {
	content: '';
	width: 25px;
	height: 25px;
	background: var(--icon-url) 0 0/contain no-repeat;
}

.red-row {
	background-color: var(--red-row-bg-color);
	color: var(--red-row-font-color);
}

.yellow-row {
	background-color: var(--yellow-row-bg-color);
	color: var(--yellow-row-font-color);
}

.green-row {
	background-color: var(--green-row-bg-color);
	color: var(--green-row-font-color);
}

.blue-row {
	background-color: var(--blue-row-bg-color);
	color: var(--blue-row-font-color);
}

.content__denomination {
	flex-grow: 1;
	padding-left: 15px;
}

.content__score {
	color: var(--content-score-font-color);
}

.content__total-score {
	color: var(--content-total-score-font-color);
}

.button {
	width: 100%;
	height: 65px;
	border-radius: 50px;
	border: none;
	background-color: var(--button-bg-color);
	color: var(--button-font-color);
	font-size: 2.2rem;
}

.button:hover {
	cursor: pointer;
	background: var(--button-bg-color--hover);
	transform: scale(1.1);
}

/** =================== Media =================== */
/* tablets */
@media (max-width: 768px) {
	html {
		font-size: 50%;
	}

	.wrapper {
		padding: 0;
		align-items: normal;
	}

	.summary-component {
		flex-wrap: wrap;
		box-shadow: none;
	}

	.summary-report,
	.final-result {
		flex: 0 1 100%;
	}

	.final-result {
		border-radius: 0 0 40px 40px;
		padding: 20px 0 40px 0;
	}

	.title {
		margin-bottom: 20px;
	}

	.score {
		width: 230px;
	}

	.output {
		margin: 20px 0 10px 0;
	}

	.button {
		font-size: 3rem;
	}
}

/* mobile */
@media (max-width: 480px) {
	html {
		font-size: 39%;
	}

	.summary-component {
		max-height: none;
		height: 100%;
	}

	.final-result {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 45%;
		padding: 10px 50px;
	}

	.summary-report {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 55%;
	}

	.score {
		padding: 25px;
		width: 130px;
	}

	.score__result {
		font-size: 7.2rem;
	}

	.output {
		margin-top: 10px;
		font-size: 3.5rem;
	}

	.summary-report {
		padding: 20px 25px;
	}

	.content {
		margin-bottom: 30px;
	}

	.content__row {
		height: 40px;
		margin-bottom: 15px;
	}

	.button {
		height: 50px;
		font-size: 2.7rem;
	}
}

@media (max-width: 350px) {
	.final-result {
		padding: 10px 20px;
	}
}